/* COMMON */

* { min-height: 0; min-width: 0; }

html { font-size:14px; }
body { color:#333; font-family:'Work Sans', Arial, sans-serif; line-height:1.3; }

h1, h2, h3, h4, h5, h6 { color:#555; margin:0; position:relative; }
h1 { font-size:1.5rem; padding:0.8rem 1rem; }
h2 { border-bottom:2px solid #EEE; font-size:1.4rem; margin-bottom:0.8rem; padding:0.8rem 1rem; }
h3 { font-size:1.3rem; padding:0.6rem 1rem; }
h4 { font-size:1.2rem; padding:0.5rem 1rem; }
h5 { font-size:1.1rem; padding:0.4rem 1rem; }
h6 { font-size:1rem; padding:0.3rem 1rem; }
h1 small, h2 small, h3 small, h4 small, h5 small, h6 small { color:#777; font-size:80%; font-weight:normal; margin-left:1rem; }

img { display:inline-block; height:auto; max-width:100%; vertical-align:middle; }

a { color:#369; text-decoration:none; }
a:hover { text-decoration:underline; }
a.active { background-color:#369; color:#FFF; }

a.highlight,
div.highlight,
tr.highlight td { background-color:#FFC !important; }
.rb-form-item label.check.highlight { background-color:#F5F5F5; }

ul, ol { line-height:1.4; padding-left:2rem; }


/* UTILITIES */

.text-error { color:#900; }
.status-error { border-left:5px solid #900; background-color:#FDD; color:#900; margin:1rem 0; padding:1rem; }

.text-success { color:#090; }
.status-success { border-left:5px solid #090; background-color:#DED; color:#090; margin:1rem 0; padding:1rem; }

.text-warning { color:#E60; }
.status-warning { border-left:5px solid #E60; background-color:#FDC; color:#E60; margin:1rem 0; padding:1rem; }

.text-ok { color:#DC0; }
.status-info { border-left:5px solid #DC0; background-color:#FFE; color:#DC0; margin:1rem 0; padding:1rem; }

.text-info { color:#777; }
.status-info { border-left:5px solid #777; background-color:#EEE; color:#777; margin:1rem 0; padding:1rem; }

.text-important { color:#369; }
.status-important { border-left:5px solid #369; background-color:#F0F8FF; color:#369; margin:1rem 0; padding:1rem; }

.text-white { color:#FFF; }
.bg-white { background-color:#FFF; }

.text-grey { color:#AAA; }
.bg-grey { background-color:#F5F5F5; }

.hide { display:none; }
.clear { clear:both; }
.center { text-align:center; }
.right { text-align:right; }
.padding { padding:1rem; }
.no-padding { padding:0; }
.margin { margin:1rem; }
.no-margin { margin:0; }
.smaller { font-size:90%; }
.bigger { font-size:110%; }
.transparent { opacity:0.2; }
.inline { display: inline; }

body[class*="bg-"] div[class*="bg-"] { box-shadow:0 0 4px #033; border-radius:4px; margin-bottom:2rem; padding:1rem 2rem; }


/* BUTTON */

.rb-btn { background-color:#369; border:0; border-radius:3px; box-shadow:0 2px 4px 0 rgba(0, 0, 0, 0.2);
    cursor:pointer; color:#FFF; display:inline-block; font-weight:normal; padding:0 1.6rem;
    line-height:36px; vertical-align:middle; text-decoration:none; text-transform:uppercase;
    letter-spacing:1px; transition: all 0.3s ease-out 0s;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select:none; }

.rb-btn-success { background-color:#070; }
.rb-btn-warning { background-color:#A60; }
.rb-btn-error, .rb-btn-delete { background-color:#700; }
.rb-btn-info { background-color:#777; }
.rb-btn-blank { background-color:#FFF; color:#369; }

.rb-btn-small { font-size:80%; height:26px; line-height:26px; padding:0 0.6rem; }
.rb-btn-block { display:block; margin-bottom:0.4rem; text-align:center; width:100%;
    box-sizing:border-box; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; }

.rb-btn:hover { opacity:0.7; box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.4); text-decoration:none; }
.rb-btn:focus { opacity:1; outline:0; }


.rb-link { border:0 none; background-color: transparent; color:#369; cursor:pointer;
    font-family:'Work Sans', Arial, sans-serif; margin:0; padding:0.1rem 0; }
.rb-link:hover { text-decoration:underline; }


/* CONTENT */

.rb-container { display:flex; box-sizing:border-box; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; }
.body-small .rb-container { margin:0 auto; width:60%; }

#rb-layout { flex-grow:1; box-sizing:border-box; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; }

.rb-row { display:flex; margin:1rem 0; width: 100%; }
.rb-row .rb-row { margin:0.5rem 0; }

.rb-col { flex-grow:1; flex-basis:0; padding:0 1rem;
    box-sizing:border-box; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; }
.rb-col:first-child { padding-left:2rem; }
.rb-col:last-child { padding-right:2rem; }
.rb-col .rb-col:first-child { padding-left:0; }
.rb-col .rb-col:last-child { padding-right:0; }

.body-small .rb-col { padding:0 1rem; }

.rb-col-center { width:60%; margin:0 auto; }

.rb-col-2 { flex-grow:2; }
.rb-col-3 { flex-grow:3; }
.rb-col-4 { flex-grow:4; }
.rb-col-5 { flex-grow:5; }
.rb-col-6 { flex-grow:6; }

.rb-col h1,
.rb-col h2,
.rb-col h3,
.rb-col h4,
.rb-col h5,
.rb-col h6 { padding-left:0; padding-right:0; }


/* STEP */

.rb-step { display:flex; flex-wrap: wrap; margin:1rem 0; }
.rb-step div { background-color:#F5F5F5; border-bottom:2px solid #CCC; color:#AAA; flex-grow:1;
    font-weight:bold; padding:1rem 0.4rem; text-align:center; white-space:nowrap; }
.rb-step div.active { border-bottom:2px solid #369; color:#369; }


/* ERROR */

.body-error h2 { border-bottom:2px solid #EEE; color:#A00; }


/* DEBUG */

.debug { color:#666; margin:1.4rem 0; text-align:center; }
.debug ul { padding-left:0; }
.debug li { background-color:#F5F5F5; border:1px solid #CCC; display:inline-block; padding:0.4rem; }


/* ENUM */

.enum { background-color:#369; border-radius:3px; color:#FFF; cursor:pointer; font-size:0.8rem; font-weight:normal;
    padding:0.1rem 0.4rem 0.2rem; text-shadow:none; white-space: nowrap;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select:none; }


/* BOOL */

span[class|=bool] { background-color:#AAA; border-radius:3px; color:#AAA; padding:0.1rem 0.3rem; white-space:nowrap; }
span.bool-0 { background-color:#A00; color:#A00; }
span.bool-1 { background-color:#0A0; color:#0A0; }


/* GRID */

.rb-grid { display:flex; flex-wrap:wrap; }
.rb-grid > div { border:1px solid #E5E5E5; background-color:#F5F5F5; flex-grow:1; margin:0 0.4rem 0.4rem 0; padding:0.4rem; }


/* NOTIFICATION */

#rb-noti { color:#FFF; font-weight:bold; left:50%; position:fixed; top:-4px; z-index:11;
    -webkit-transform:translate(-50%, 0); transform:translate(-50%, 0); }
#rb-noti div { cursor:pointer; padding:0.4rem 0.8rem; box-shadow:0 1px 4px #333; margin:0.2rem 0.2rem 0 0;
    text-align:center; box-sizing:border-box; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; }
#rb-noti a { color:#FFF; text-decoration:underline; }
#rb-noti .rb-success,
#rb-noti .rb-loading { background-color:#FFF1A8; color:#333; }
#rb-noti .rb-success a,
#rb-noti .rb-loading a { color:#333; }
#rb-noti .rb-error { background-color:#A00; }


/* FILTER */

.rb-filter { align-items:center; background-color:#F5F5F5; box-shadow:0 3px 6px rgba(0,0,0,0.2); color:#777; display:flex;
    flex-wrap:wrap; justify-content:space-between; margin:1rem 0; }
.rb-filter .input { display:inline; padding:0.4rem; vertical-align:middle; }
.rb-filter > div { padding:1rem; }
.rb-filter > div > div { margin-bottom: 0.4rem; }

.rb-filter .rb-btn { height:32px; line-height:32px; padding:0 0.4rem; }

.rb-filter .rb-paging { order:10; text-align:right; }
.rb-filter .rb-paging .nav { display:flex; }
.rb-filter .rb-paging .nav a,
.rb-filter .rb-paging .nav span { border-radius:3px; font-size:0.9rem;
    padding:0.4rem 0.2rem; text-align:center; text-decoration:none; width:1.6rem; }
.rb-filter .rb-paging .nav a:hover { background-color:#DDD; }
.rb-filter .rb-paging .nav .prev,
.rb-filter .rb-paging .nav .next { width:1.2rem; }
.rb-filter .rb-paging .nav span { cursor:pointer; color:#CCC; }

.rb-filter #item-count { font-weight:bold; }

.rb-option { display:flex; }
.rb-option > a:first-child { border-top-left-radius:3px; border-bottom-left-radius:3px; }
.rb-option > a:last-child { border-top-right-radius:3px; border-bottom-right-radius:3px; }
.rb-option > a { background-color:#EEE; font-size:0.8rem; letter-spacing:1px; padding:0.4rem; text-decoration:none; }
.rb-option > a:hover { background-color:#CCC; }
.rb-option > a.active { background-color:#369; color:#FFF; }


/* FORMS */

.rb-col form.editor { width:50%; }

.input { background-color:#FFF; border:1px solid #CCC; box-shadow:inset 0 2px 2px rgba(0,0,0,.1);
    color:#333; display:block; font-weight:normal; padding:0.6rem;
    box-sizing:border-box; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; }
select.input { padding:0.5rem; }

.input:focus { border:1px solid #369; }

.rb-form-item { margin-bottom:0.6rem; }
.rb-form-item .input { font-weight:normal; margin-top:0.6rem; width:100%; }
.rb-form-item .input-media,
.rb-form-item .mce-tinymce,
.rb-form-item textarea { margin-top:0.6rem; }

.rb-form-item label { cursor:pointer; display:block; font-weight:bold; position:relative;
    box-sizing:border-box; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; }
.rb-form-item label.check { border-left:3px solid transparent; font-weight:normal; padding:0.6rem; }
.rb-form-item label.check:hover { background-color:#F5F5F5; border-left-color:#369; }

.rb-form-item span.input { background-color:#F5F5F5; color:#777; cursor:no-drop; }
.rb-form-item a.password-viewer { position:absolute; bottom:0.7rem; right:0.4rem; }
.rb-form-item .checkbox { margin-right:0.5rem; vertical-align:middle; }
.rb-form-item textarea { height:100px; width:100%; }
.rb-form-item .date-picker { display:inline; width:44%; }
.rb-form-item .input-auto { display:inline; width:auto; }
.rb-form-item .input-small { display:inline; width:60px; } /* date times */
.rb-form-item img { display:block; margin-bottom:0.2rem; }

.rb-form-item div.error { background-color:#FEE; border-left:4px solid #A00; color:#A00; margin-top:2px; padding:0.3rem 0.6rem; }
.rb-form-item input.error { background-color:#FEE; border-color:#A00; color:#A00; }
.rb-form-item .info { color:#777; font-size:0.9rem; font-weight:normal; padding:0.2rem; }
.rb-form-item .rb-btn { margin-right:0.5rem; }

.rb-form-error { border-left:5px solid #900; background-color:#FDD; color:#900; padding:0.4rem; }

.rb-check-list { display:flex; flex-wrap:wrap; }
.rb-check-list label.check { flex-basis:25%; }

.input-file { position:relative; }
.input-file .rb-btn { border-radius:0; bottom:0; margin:0; height:43px; line-height:40px; padding:0 0.6rem; position:absolute; right:0; }

.input-file .file-reset,
.input-file .file-clear { display:none; }


/* TABLE */

table { border-collapse:collapse; margin-bottom:1rem; width:100%; }
table p { margin:0; }
th { color:#777; font-weight:normal; padding:0.6rem; text-align:left; vertical-align:middle; }
td { padding:0.6rem; }
td.large { max-width:250px; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; }

table.list tr:nth-of-type(even) td { background-color:#F5F5F5; }
table.list tr:hover td { background-color:#FFD; }
table.list th { border-bottom:2px solid #DDD; }
table.list td { border-bottom:1px solid #E5E5E5; }

table.compact th,
table.compact td { padding:0.3rem; }

tr.updating td { background-color:#FFC !important; }

table.dual th { background-color:#F5F5F5; border-bottom:1px solid #E5E5E5; text-align:right; width:20%; white-space:nowrap; }
table.dual td { border-bottom:1px solid #E5E5E5; }

table.triple th { background-color:#F5F5F5; border-bottom:1px solid #E5E5E5; text-align:center; width:20%; white-space:nowrap; }
table.triple td { border-bottom:1px solid #E5E5E5; }


/* LIST */

.rb-list { display:flex; flex-wrap:wrap; margin-bottom:1rem; }
.rb-list a { background-color:#F5F5F5; border-bottom:2px solid #E5E5E5; margin:0 0.2rem 0.2rem 0;
    padding:0.8rem; text-decoration:none; }
.rb-list a:hover { border-bottom:2px solid #369; }


/* MODAL */

.modal { background-color:#FFF; box-shadow:0 0 10px #000; display:none;
    left:50%; transform: translate(-50%, 0); top:1rem;
    max-width:90%; max-height:90%; min-width:30%; overflow-y:auto; position:fixed; z-index:10;
    box-sizing:border-box; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; }
.modal .close { display:block; font-weight:bold; line-height:2rem; opacity:0.5; padding:0.8rem; position:absolute;
    right:0; text-decoration:none; text-transform:capitalize; z-index:11; }
.modal .close:hover { opacity:1; }

.modal h1.mt { background-color:#F5F5F5; border-bottom:1px solid #CCC; color:#777; line-height:2rem; min-height:2rem; padding-right:2.4rem; }
.modal div.mt { min-height:1rem; margin:1rem; }

.modal div.mt h1,
.modal div.mt h2,
.modal div.mt h3,
.modal div.mt h4,
.modal div.mt h5,
.modal div.mt h6 { padding-left:0; padding-right:0; }

.modal table { margin-bottom:0; }

#rb-overlay { background-color:#000; cursor:pointer; display:none; position:fixed; height:100%;
    left:0; top:0; width:100%; opacity:0.6; z-index:9; }


/* HEADER */

.rb-header { background-color:#369; color:#FFF; display:flex; justify-content:space-between; padding:0.4rem 1rem; }
.rb-header .logo a { background-color:#FFF; display:block; }
.rb-header .logo a:hover { background-color:#036; }
.rb-header .logo h1 { position:absolute; left:-2000px; }
.rb-header .logo img { padding:0.56rem 1rem; }

.rb-header .right { justify-content:flex-end; }
.rb-header .right img { border:2px solid transparent; border-radius:2rem; }
.rb-header .right img:hover { border-color:#FFF; }

.rb-header .rb-lang { margin:0 0.5rem; }
.rb-header .rb-lang a { background-color:#47A; padding:0.2rem 0.4rem; }
.rb-header .rb-lang a:hover { background-color:#036; color:#FFF; text-decoration:none; }
.rb-header a.lang { background-color:#47A; margin:0 0.2rem; padding:1rem 0.5rem; }
.rb-header #js-lang { font-weight:bold; }

.rb-profile-bloc { left:auto; right:1rem; min-width:auto; transform:none; }
.rb-profile-bloc img { border:2px solid #CCC; margin-right:1rem; }
.rb-profile-bloc .option { float:right; }
.rb-profile-bloc a { color:#333; display:block; padding:1rem; text-decoration:none; }
.rb-profile-bloc .rb-link { color:#333; display:block; padding:1rem; text-decoration:none;  text-align:left; width:100%;
    box-sizing:border-box; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; }
.rb-profile-bloc2 a:last-child { margin-bottom:1rem; }
.rb-profile-bloc a:hover,
.rb-profile-bloc .rb-link:hover { background-color:#E5E5E5; }


/* BURGER */

#rb-burger { background-color:#FFF; display:none; padding:0.95rem 1rem; position:absolute; right:0; top:0; z-index:10; }
#rb-burger:hover { background-color:#036; }
#rb-burger:hover span { background-color:#FFF; }
#rb-burger span { background-color:#369; display:block; height:3px; margin:4px 0; width:1.2rem; }
#rb-burger span:first-child { margin:0.1rem 0; }
#rb-burger span:last-child { margin:0.1rem 0; }


/* RESPONSIVE */

/* tablets */
@media all and (max-width: 64em) {
    .body-small .rb-container { margin:1rem; width:auto; }

    .rb-col-center { margin:0; width:auto; }

    .rb-col:first-child:nth-last-child(4), .rb-col:first-child:nth-last-child(4) ~ .rb-col,
    .rb-col:first-child:nth-last-child(5), .rb-col:first-child:nth-last-child(5) ~ .rb-col { width:50%; }
    .rb-col:first-child:nth-last-child(6), .rb-col:first-child:nth-last-child(6) ~ .rb-col,
    .rb-col:first-child:nth-last-child(7), .rb-col:first-child:nth-last-child(7) ~ .rb-col { width:33%; }
    .rb-col:first-child:nth-last-child(8), .rb-col:first-child:nth-last-child(8) ~ .rb-col { width:25%; }
    .rb-col:first-child:nth-last-child(9), .rb-col:first-child:nth-last-child(9) ~ .rb-col { width:33%; }
    .rb-col:first-child:nth-last-child(10), .rb-col:first-child:nth-last-child(10) ~ .rb-col,
    .rb-col:first-child:nth-last-child(11), .rb-col:first-child:nth-last-child(11) ~ .rb-col { width:20%; }
    .rb-col:first-child:nth-last-child(12), .rb-col:first-child:nth-last-child(12) ~ .rb-col { width:16%; }

    .rb-col:first-child { padding-left:1rem; }
    .rb-col:last-child { padding-right:1rem; }

    body[class^="bg-"] div[class^="bg-"] { box-shadow:0px 2px 4px #AAA; margin-bottom:1rem; padding:1rem; }
    .rb-check-list label.check { flex-basis:50%; }
}

/* mobiles */
@media all and (max-width: 37.5em) {

    .rb-header .logo { margin-left:0; }
    .rb-header .right { margin-right:3.4rem; }

    #rb-burger { display:block; }

    .rb-row { flex-wrap:wrap; margin:0.5rem 0; }

    .rb-col { flex-basis:unset; padding:0 1rem; }
    .rb-col form.editor { width:auto; }

    .rb-col:first-child:nth-last-child(2), .rb-col:first-child:nth-last-child(2) ~ .rb-col,
    .rb-col:first-child:nth-last-child(3), .rb-col:first-child:nth-last-child(3) ~ .rb-col { width:100%; }
    .rb-col:first-child:nth-last-child(6), .rb-col:first-child:nth-last-child(6) ~ .rb-col,
    .rb-col:first-child:nth-last-child(7), .rb-col:first-child:nth-last-child(7) ~ .rb-col,
    .rb-col:first-child:nth-last-child(8), .rb-col:first-child:nth-last-child(8) ~ .rb-col { width:50%; }
    .rb-col:first-child:nth-last-child(10), .rb-col:first-child:nth-last-child(10) ~ .rb-col,
    .rb-col:first-child:nth-last-child(11), .rb-col:first-child:nth-last-child(11) ~ .rb-col,
    .rb-col:first-child:nth-last-child(12), .rb-col:first-child:nth-last-child(12) ~ .rb-col { width:33%; }

    .input-file .rb-btn { padding:0.73rem 0.5rem; }

    .rb-form-item.inline label.check { float:none; width:auto; }
    .rb-form-item button.rb-btn { display:block; margin-bottom:0.8rem; text-align:center; width:100%;
        box-sizing:border-box; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; }

    .rb-check-list label.check { flex-basis:100%; }

    .modal { width:90%; }
}
